server {
    listen 80 default_server;
    server_name __PUBLIC_IP__;
    server_tokens off;
    access_log off;
    client_max_body_size 1k;

    location ^~ /.well-known/acme-challenge/ {
        root /var/www/leaflog-acme;
        default_type text/plain;
        try_files $uri =404;
        limit_except GET { deny all; }
    }

    location / { return 404; }
}
