fastapi==0.115.12
uvicorn[standard]==0.34.2
sqlalchemy==2.0.40
psycopg[binary]==3.2.9
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]==3.4.0
pydantic==2.11.4
python-dotenv==1.2.2
boto3==1.43.46
python-multipart==0.0.20
requests==2.32.3
pyproj==3.7.1
pillow==11.2.1
rembg==2.0.67
onnxruntime==1.22.0
